
body{
  background-image: url("http://2.bp.blogspot.com/-NH1CJExBi4c/UW7lqdmwEGI/AAAAAAAAB5U/fvm4GLKEU3M/s1600/Trivia.jpg");
}
#title{
  background-color: white;
}
.container{
  background-color: white;
}
